

<!-- Start Failed Charges Listing -->
<div class="row span10 offset1">
	<h1>Failed Charges</h1>
	<%= render "charges/failed"%>
</div>
<div class="clearfix"></div>
<hr/>
<!-- End Failed Charges Listing -->

<!-- Start Disputed Charges Listing -->
<div class="row span10 offset1">
	<h1>Disputed Charges</h1>
	<%= render "charges/disputed" %>
</div>
<!-- End Disputed Charges Listing -->
<div class="clearfix"></div>
<hr/>
<!-- Start Successful Charges Listing -->
<div class="row offset1">
	 
	<h1>Successful Charges</h1>
	
	<div class="span2" style="padding-left:0;margin-left: 0;">
	<%= render "charges/successful" %>
	</div>
</div>
<!-- End Successful Charges Listing -->
